{% load i18n %}
{% load english_to_persian_translate_tags %}
{% load humanize %}

<aside class="mini-cart" id="miniCart">
        <div class="mini-cart-wrapper">
            <a href="" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
            <div class="mini-cart-inner">
                <h3 class="mini-cart__heading mb--40 mb-lg--30 text-right">{% trans 'shopping cart' %}</h3>
                <div class="mini-cart__content">
                    <ul class="mini-cart__list text-right">
                        {% for item in shopping_cart %}
                            <li class="mini-cart__product d-flex justify-content-between">
                            <div class="mini-cart__product__image">
                                <a href="{% url 'product_detail_view' item.product_obj.id %}">
                                    <img src="{{ item.product_obj.product_cover.url }}" alt="products">
                                </a>
                            </div>
                            <div class="mini-cart__product__content pt-2">
                                <span class="mini-cart__product__title d-flex flex-row justify-content-between">
                                    <a href="#">{{ item.product_obj.product_title }}</a>
                                    <a href="{% url 'cart:remove_from_cart_view' item.product_obj.id %}" class="">
                                        &#10060;
                                    </a>
                                </span>
                                <span class="mini-cart__product__quantity">
                                    <span>{{ item.product_obj.product_price|intcomma:False|translate_number }} {% trans '$' %}</span> &#215;
                                    <span>{{ item.quantity|intcomma:False|translate_number }}</span>
                                </span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="mini-cart__total">
                        <span>جمع کل</span>
                        <span class="ammount">{{ item.total_price|intcomma:False|translate_number}}</span>
                    </div>
                    <div class="mini-cart__buttons">
                        <a href="{% url 'cart:shopping_cart_view' %}" class="btn btn-fullwidth btn-bg-sand mb--20">{% trans 'Checkout' %}</a>
                        <a href="checkout.html" class="btn btn-fullwidth btn-bg-sand">{% trans 'Purchase' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
