{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

        {% include 'top_header.html' with main_header=product_detail.product_title %}
        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner ptb--80">
                <div class="container">
                    <div class="row no-gutters mb--80">
                        <div class="col-12 col-sm-4 product-main-image d-flex align-content-center">
                            <img class="m-auto" style="max-height: 400px;" src="{{ product_detail.product_cover.url }}" alt="product_cover">
                        </div>
                        <div class="col-12 col-sm-8 product-main-details mt-md--50">
                            <div class="product-summary pl-lg--30 pl-md--0 text-right p-4">
                                <h3 class="product-title mb--20">{{ product_detail.product_title }}</h3>
{#                                <p class="product-short-description mb--20">#}
{#                                    {{ product_detail.product_description }}#}
{#                                </p>#}
                                <div class="my-5 py-5 product-price-wrapper mb--25">
                                    <span class="money text-success">{{ product_detail.product_price }} {% trans '$' %}</span>
                                    <span class="price-separator">-</span>
                                    <span class="money old-price text-danger">۲۱۰,۰۰۰ {% trans '$' %}</span>
                                </div>
                                <div class="product-action d-flex align-items-sm-center align-content-center mb--30">
                                    {% if not is_in_the_cart %}
                                        <form method="POST" action="{% url 'cart:add_to_cart' product_detail.id %}">
                                            {% csrf_token %}
                                            <div class="quantity">
                                                <input type="number" class="quantity-input" name="quantity"
                                                       id="qty" value="1" min="1" max="{{ product_detail.number_of_products }}">
                                            </div>
                                            <button type="submit" class="btn btn-small btn-bg-red btn-color-white btn-hover-2">
                                                {% translate 'Add To Cart' %}
                                            </button>
                                        </form>
                                    {% elif is_in_the_cart %}
                                      <h4>این محصول به<a href="{% url 'cart:shopping_cart_view' %}"> سبد خرید شما
                                      </a> اضافه شد است.</h4>
                                    {% endif %}
                                </div>
                                <div class="product-footer-meta mt-5 pt-5">
                                    <p><span class="m-0">{% translate 'Categorize' %}</span>
                                        {{ product_detail.product_classification }}
                                    </p>
                                    <p><span class="m-0">تعداد موجود این محصول در انبار:</span>
                                        {{ product_detail.number_of_products }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="product-data-tab tab-style-3">
                                <div class="nav nav-tabs product-data-tab__head" id="product-tab" role="tablist">
                                    <a class="m-0 product-data-tab__link nav-link active" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-selected="true">
                                        <span>{% translate 'Product Description' %}</span>
                                    </a>
                                    <a class="m-0 product-data-tab__link nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-selected="true">
                                        <span>ویژگی ها</span>
                                    </a>
                                    <a class="m-0 product-data-tab__link nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-selected="true">
                                        <span>نظرات {{ comments.count }}</span>
                                    </a>
                                </div>
                                <div class="tab-content product-data-tab__content" id="product-tabContent">
                                    <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                                        <div class="product-description text-justify">
                                            <p>{{ product_detail.product_description }}</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane text-right" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                                        <div class="table-content table-responsive">
                                            <table class="table shop_attributes">
                                                <tbody>
                                                    <tr>
                                                        <th>وزن</th>
                                                        <td>۴۳۰ گرم</td>
                                                    </tr>
                                                    <tr>
                                                        <th>سایز</th>
                                                        <td>XL</td>
                                                    </tr>
                                                    <tr>
                                                        <th>رنگ</th>
                                                        <td>
                                                            <a href="shop-sidebar.html">مشکی</a>,
                                                            <a href="shop-sidebar.html">سبز</a>,
                                                            <a href="shop-sidebar.html">قرمز</a>,
                                                            <a href="shop-sidebar.html">نارنجی</a>,
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
                                        <div class="product-reviews">
                                            <h3 class="review__title">  {% trans 'number of comments for' %} ---> {{ product_detail.product_title }} ---> {{ comments.count }} </h3>
                                            <ul class="review__list">
                                                {% for comment in comments %}
                                                    <li class="review__item">
                                                        <div class="review__container">
                                                            <div class="review__text">
                                                                <div class="d-flex flex-sm-row flex-row">
                                                                    <img src="{{ comment.user.profile_avatar.url }}" alt="Review Avatar" class="review__avatar">
                                                                    <div>
                                                                        <div class="review__meta">
                                                                            <strong class="review__author px-4">{{ comment.user.username }}</strong>
                                                                            {% if comment in user.comments.all %}
                                                                                <span>
                                                                                    <a href="{% url 'edit_user_comments' product_detail.id comment.id %}">ویرایش</a>
                                                                                     <a href="{% url 'delete_user_comments' product_detail.id comment.id %}">حذف نظر</a>
                                                                                </span>
                                                                            {% endif %}
                                                                            <span class="review__dash">-</span>
                                                                            <span class="review__published-date">{{ comment.datetime_created }}</span>
                                                                        </div>
                                                                          <!-- Product rating Start -->
                                                                        <div class="product-rating">
                                                                            {% if comment.rate == '1' %}
                                                                                <div class="m-0 star-rating star-one">
                                                                                    <span>Rated<strong class="rating"></strong> out of 5</span>
                                                                                </div>
                                                                            {% endif %}
                                                                            {% if comment.rate == '2' %}
                                                                                <div class="m-0 star-rating star-two">
                                                                                    <span>Rated<strong class="rating"></strong> out of 5</span>
                                                                                </div>
                                                                            {% endif %}
                                                                            {% if comment.rate == '3' %}
                                                                                <div class="m-0 star-rating star-three">
                                                                                    <span>Rated<strong class="rating"></strong> out of 5</span>
                                                                                </div>
                                                                            {% endif %}
                                                                            {% if comment.rate == '4' %}
                                                                                <div class="m-0 star-rating star-four">
                                                                                    <span>Rated<strong class="rating"></strong> out of 5</span>
                                                                                </div>
                                                                            {% endif %}
                                                                            {% if comment.rate == '5' %}
                                                                                <div class="m-0 star-rating star-five">
                                                                                    <span>Rated<strong class="rating"></strong> out of 5</span>
                                                                                </div>
                                                                            {% endif %}
                                                                        </div>
                                                                          <!-- Product Rating End -->
                                                                    </div>
                                                                </div>
                                                                <p class="review__description text-right px-4">
                                                                    {{ comment.text|safe }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <br>
                                                    <h3>{% translate 'Add Replay' %}</h3>
                                                     <form action="" method="post">
                                                         {% csrf_token %}
                                                         {{ comment_form.text|as_crispy_field }}
                                                          <!-- Hidden input for parent comment.id -->
                                                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                                        <input type="submit" value="{% translate 'Submit' %}">
                                                     </form>
                                                    <br>
                                                    <h2>{% translate 'Replies' %}</h2>
                                                    {% for replay in comment.replies.all %}
                                                    <div class="d-flex flex-sm-row flex-row">
                                                        <img src="{{ replay.user.profile_avatar.url }}" alt="Review Avatar" class="review__avatar">
                                                        <div>
                                                            <div class="review__meta">
                                                                <strong class="review__author px-4">{{ replay.user.username }}</strong>
                                                                <span class="review__dash">-</span>
                                                                <span class="review__published-date">{{ replay.datetime_created }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="review__description text-right px-4">
                                                        {{ replay.text }}
                                                    </p>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                            <div class="review-form-wrapper">
                                                <div class="row">
                                                    <div class="border-top py-5 w-100"></div>
                                                    <div class="col-lg-8 m-auto">
                                                        <span class="reply-title pull-right">{% translate 'Add a Comment' %}</span>
                                                        <br>
                                                        <form action="" class="form text-right" method="post">
                                                            {% csrf_token %}
                                                            {{ comment_form|crispy }}
                                                              <button type="submit" value="yes"
                                                                onclick="this.disabled=true;this.form.submit();" class="mt-3">{% translate 'Submit' %}</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper End -->
        {% include 'cart/shopping_cart_sidebar.html' %}
{% endblock content %}
